<h1>Diagnostic Codes</h1>

<table>
  <thead>
    <tr>
      <th>Diagnostic Description</th>
      <th>Cost</th>
      <th colspan="3">Table Options</th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostics.each do |diagnostic| %>
      <tr>
        <td><%= diagnostic.diagnostic_desc %></td>
        <td><%= number_to_currency(diagnostic.cost) %></td>
        <td><%= link_to 'Show', diagnostic %></td>
        <td><%= link_to 'Edit', edit_diagnostic_path(diagnostic)%></td>
        <td><%= link_to 'Destroy', diagnostic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Diagnostic', new_diagnostic_path, :method => :get %>
