<p id="notice"><%= notice %></p>

<p>
  <strong>Diagnostic Description:</strong>
  <%= @diagnostic.diagnostic_desc %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@diagnostic.cost) %>
</p>

<li><%= button_to 'Edit', edit_diagnostic_path(@diagnostic), :method => :get %></li> |
<li><%= button_to 'Back', diagnostics_path, :method => :get %></li>
