<body class='ok'>
<h1>System Administrator Page</h1>
<h2>Below are the links to all the background pages for admin adjustment</h2>
<li><%= button_to "Patient", patients_path, :method => :get %></li> |
<li><%= button_to "Physician", physicians_path, :method => :get %></li> |
<li><%= button_to "Time Slots", time_slots_path, :method => :get %></li> |
<li><%= button_to "Diagnostic Codes", diagnostics_path, :method => :get %></li>
<p></p>
</body>