<body class='ok'>
<h1>Doctor's Homepage</h1>
<li><%= button_to "Home", home_page_home_path, :method => :get %></li> |
<li><%= button_to "Patients", patients_path, :method => :get %></li> |
<li><%= button_to "Patient Appointment", appointments_path, :method => :get %></li>
<p></p>
</body>