<h1 class="homep">Welcome to Dermatologists Associates Homepage!</h1>

<body class='ok'>

<p></p>
<br>
<br>


<ul>
<li>
<%= button_to 'Patient', home_page_patient_path, :class => 'button', :method => :get %>
</li>

<li>
  <%= button_to 'Physician', home_page_doctor_path, :class => 'button', :method => :get %>
</li>

<li>
  <%= button_to 'Sys Admin', home_page_admin_path, :class => 'button', :method => :get %>
</li>

<li>
  <%= button_to 'Office', home_page_office_path, :class => 'button', :method => :get %>
</li>
</ul>


</body>