<body class='ok'>

<h1>Welcome Office Workers</h1>
<p>Please go to the patients page and click on show for the patient you want an invoice for.</p>

<%= button_to 'Patient Payment Invoice', patients_path, :method => :get %>
</body>