<body class='ok'>
<h1>Welcome to the Patient Portal!</h1>
<li><%= button_to "Appointments", new_appointment_path, :method => :get %></li> |
<li><%= button_to "New Patient Signup", new_patient_path, :method => :get %></li>
<li><%= button_to "Edit your Appointment", patients_path, :method => :get %></li>
<p></p>
</body>