<%= form_for(@time_slot) do |f| %>
  <% if @time_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_slot.errors.count, "error") %> prohibited this time_slot from being saved:</h2>

      <ul>
      <% @time_slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <b><%= f.label :time_string %></b><br>
    <%= f.text_field :time_string %>
  </div>
  <div class="field">
    <b><%= f.label :time_num %></b><br>
    <%= f.time_select :time_num, {ampm: true} %>
  </div>
  <div class="field">
    <b><%= f.label :time_availability %></b><br>
    <%= f.check_box :time_availability %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
