<h1>Time Slot Editor</h1>

<%= render 'form' %>

<li><%= button_to 'Show Time Slot', @time_slot, :method => :get %></li> |
<li><%= button_to 'Back to Time Slot List', time_slots_path, :method => :get %></li>
