<h1>Time Slot List</h1>

<table>
  <thead>
    <tr>
      <th>Time string</th>
      <th>Time num</th>
      <th>Time availability</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @time_slots.each do |time_slot| %>
      <tr>
        <td><%= time_slot.time_string %></td>
        <td><%= time_slot.time_num %></td>
        <td><%= time_slot.time_availability %></td>
        <td><%= link_to 'Show', time_slot %></td>
        <td><%= link_to 'Edit', edit_time_slot_path(time_slot) %></td>
        <td><%= link_to 'Destroy', time_slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Time slot', new_time_slot_path,:method => :get %>
