<p id="notice"><%= notice %></p>

<p>
  <strong>Time string:</strong>
  <%= @time_slot.time_string %>
</p>

<p>
  <strong>Time num:</strong>
  <%= @time_slot.time_num %>
</p>

<p>
  <strong>Time availability:</strong>
  <%= @time_slot.time_availability %>
</p>

<li><%= button_to 'Edit Time Slot', edit_time_slot_path(@time_slot), :method => :get %></li> |
<li><%= button_to 'Back to Time Slot List', time_slots_path, :method => :get %></li>
