<%= form_for(@physician) do |f| %>
  <% if @physician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

      <ul>
      <% @physician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <b><%= f.label :physician_name %></b><br>
    <%= f.text_field :physician_name %>
  </div>
  <div class="field">
   <b><%= f.label :physician_address %></b><br>
    <%= f.text_field :physician_address %>
  </div>
  <div class="field">
   <b><%= f.label :physician_city %></b><br>
    <%= f.text_field :physician_city %>
  </div>
  <div class="field">
    <b><%= f.label :physician_zip %></b><br>
    <%= f.text_field :physician_zip %>
  </div>
  <div class="field">
   <b><%= f.label :physician_primary_phone %></b><br>
    <%= f.text_field :physician_primary_phone %>
  </div>
  <div class="field">
    <b><%= f.label :physician_secondary_phone %></b><br>
    <%= f.text_field :physician_secondary_phone %>
  </div>
  <div class="field">
   <b><%= f.label :physician_status %></b><br>
    <%= f.check_box :physician_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
