<h1>Editing Dr. <%= @physician.physician_name %></h1>

<%= render 'form' %>

<li><%= button_to 'Show', @physician, :method => :get %></li> |
<li><%= button_to 'Back', physicians_path, :method => :get %></li>
