<h1>Physicians List</h1>

<table>
  <thead>
    <tr>
      <th>Physician name</th>
      <th>Physician address</th>
      <th>Physician city</th>
      <th>Physician zip</th>
      <th>Physician primary phone</th>
      <th>Physician secondary phone</th>
      <th>Physician status</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.order(:physician_name).each do |physician| %>
      <tr>
        <td><%= physician.physician_name %></td>
        <td><%= physician.physician_address %></td>
        <td><%= physician.physician_city %></td>
        <td><%= physician.physician_zip %></td>
        <td><%= physician.physician_primary_phone %></td>
        <td><%= physician.physician_secondary_phone %></td>
        <td><%= physician.physician_status %></td>
        <td><%= link_to 'Show', physician %></td>
        <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
        <td><%= link_to 'Destroy', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Physician', new_physician_path, :method => :get %>
