

<p id="notice"><%= notice %></p>


<h1>The appointments for <%= @physician.physician_name %> are:</h1>

<p>
  <strong>Physician name:</strong>
  <%= @physician.physician_name %>
</p>

<p>
  <strong>Physician address:</strong>
  <%= @physician.physician_address %>
</p>

<p>
  <strong>Physician city:</strong>
  <%= @physician.physician_city %>
</p>

<p>
  <strong>Physician zip:</strong>
  <%= @physician.physician_zip %>
</p>

<p>
  <strong>Physician primary phone:</strong>
  <%= @physician.physician_primary_phone %>
</p>

<p>
  <strong>Physician secondary phone:</strong>
  <%= @physician.physician_secondary_phone %>
</p>

<p>
  <strong>Physician status:</strong>
  <%= @physician.physician_status %>
</p>

<table>
  <thead>
  <tr>
    <th>Appointment Date</th>
    <th>Patient ID</th>
    <th>Patient Name</th>
    <th>Patient Diagnostic</th>
    <th>Diagnostic Cost</th>
    <th>Invoiced Appointment Amount</th>
    <th colspan ="3"></th>
  </tr>
  </thead>

<tbody>
<% @physician.appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.appointment_date %></td>
      <td><%= appointment.patient_id %></td>
      <td><%= appointment.patient.patient_name %></td>
      <td><%= appointment.diagnostic.diagnostic_desc %></td>
      <td><%= number_to_currency(appointment.diagnostic.cost) %> </td>
      <td><%= number_to_currency(appointment.diagnostic.cost) %> </td>
    </tr>
<% end %>
</tbody>

</table>
<br>

<li><%= button_to 'Edit Physician', edit_physician_path(@physician), :method => :get %></li> |
<li><%= button_to 'Back to Physician Listing', physicians_path, :method => :get %></li>
