<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <b><%= f.label :patient_name %></b><br>
    <%= f.text_field :patient_name %>
  </div>
  <div class="field">
   <b><%= f.label :patient_address %></b><br>
    <%= f.text_field :patient_address %>
  </div>
  <div class="field">
    <b><%= f.label :patient_city %></b><br>
    <%= f.text_field :patient_city %>
  </div>
  <div class="field">
   <b><%= f.label :patient_zip %></b><br>
    <%= f.text_field :patient_zip %>
  </div>
  <div class="field">
    <b><%= f.label :patient_primary_phone %></b><br>
    <%= f.text_field :patient_primary_phone %>
  </div>
  <div class="field">
    <b><%= f.label :patient_secondary_phone %></b><br>
    <%= f.text_field :patient_secondary_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
