<h1>Editing <%= @patient.patient_name %></h1>

<%= render 'form' %>

<li><%= button_to 'Show', @patient, :method => :get %></li> |
<li><%= button_to 'Back to Patients Page', patients_path, :method => :get %></li>
