<h1>Patient Listing</h1>

<table>
  <thead>
    <tr>
      <th>Patient name</th>
      <th>Patient address</th>
      <th>Patient city</th>
      <th>Patient zip</th>
      <th>Patient primary phone</th>
      <th>Patient secondary phone</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.order(:patient_name).each do |patient| %>
      <tr>
        <td><%= patient.patient_name %></td>
        <td><%= patient.patient_address %></td>
        <td><%= patient.patient_city %></td>
        <td><%= patient.patient_zip %></td>
        <td><%= patient.patient_primary_phone %></td>
        <td><%= patient.patient_secondary_phone %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Patient', new_patient_path, :method => :get %>
