<p id="notice"><%= notice %></p>
<h2><%= @patient.patient_name %>'s Completed Appointments</h2>
<p>
  <strong>Patient name:</strong>
  <%= @patient.patient_name %>
</p>

<p>
  <strong>Patient address:</strong>
  <%= @patient.patient_address %>
</p>

<p>
  <strong>Patient city:</strong>
  <%= @patient.patient_city %>
</p>

<p>
  <strong>Patient zip:</strong>
  <%= @patient.patient_zip %>
</p>

<p>
  <strong>Patient primary phone:</strong>
  <%= @patient.patient_primary_phone %>
</p>

<p>
  <strong>Patient secondary phone:</strong>
  <%= @patient.patient_secondary_phone %>
</p>

<table>
  <thead>
  <tr>
    <th>Appointment Date</th>
    <th>Patient ID</th>
    <th>Patient Name</th>
    <th>Patient Diagnostic</th>
    <th>Diagnostic Cost</th>
    <th>Final Appointment Cost</th>
    <th colspan ="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @patient.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.patient_id %></td>
        <td><%= appointment.patient.patient_name %></td>
        <td><%= appointment.diagnostic.diagnostic_desc %></td>
        <td><%= number_to_currency(appointment.diagnostic.cost) %> </td>
        <td><%= number_to_currency(appointment.diagnostic.cost) %> </td>
      </tr>
  <% end %>
  </tbody>

</table>
<br>

<tbody>

    <tr>
      <td><b>The Year to Date Sum is: </b></td>
      <td><b><%= number_to_currency(@patient.diagnostics.sum(:cost)) %></b></td>
    </tr>
    <p>
    <tr>
      <td><b>What you owe today is: </b></td>
      <td><% @patient.appointments.where({appointment_date: Date.today}).each do |appointment| %></td>
      <td><b><%= (appointment.diagnostic.cost) %></b></td>
    </tr>
          <% end %>
    </p>
</tbody>
</table>
<br>




<li><%= button_to 'Edit', edit_patient_path(@patient), :method => :get %></li> |
<li><%= button_to 'Edit Patient Appointment', edit_appointment_path(@patient), :method => :get %></li> |
<li><%= button_to 'Back', patients_path, :method => :get %></li>
