/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
h1.fancy {
    color: darkgreen;
    text-decoration: underline;
}
h1.centered {
    text-align: center;
}


div#welcome {
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    width: 40%;
}

#some-element {

    display: none;
    font-size: 10px;
    margin-top: 10px;
    padding: 5px;
    color:green;

}

#some-div:hover #some-element {
    display: block;
    color:green;
}

.bold-blue {
    color:blue;
    font-weight:bold;
    text-decoration:underline;
}

#notice {
    color:green;
}

#header {

    background-color: #99CCFF;
    padding: 20px;
    font-size: 16pt;
}
table{
    border: 1px solid black;
    border-bottom-left-radius: 0;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px #888888;
    margin: 0;
    padding: 0;
    width: 50%;
}

td, th{
    border: 1px solid black;
    background-color: #ffffff;
}

.hide{
    visibility: hidden;
}

p{
   display: bold;
}
.ok{
    background-image:url('/assets/t1.jpg');
    background-size: 1920px 1550px;
}
.button {
    background-color: #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #000;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: default;
    border:solid;
}
.button:hover{
    background-color: #B8B8B8;
}

.homep{
    text-align: center;
}
li, ul{
    text-align: center;
}