// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button {
  background-color: #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
  color: #000;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  cursor: poiner;
  border:solid;
}
.button:hover{
  background-color: #B8B8B8;
}

li{
  display: inline-block;
}

h1 {
  text-shadow: 5px 5px 5px #606060;
}

.ok{
  background-image:url('/assets/t1.jpg');
  background-size: 1920px 1550px;
}