<%= form_for(@appointment) do |f| %>
    <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <b><%= f.label :appointment_date %><br></b>
      <%= f.date_select :appointment_date, id: 'datepicker', size:10 %>
    </div>
    <div class="field">
      <b><%= f.label :time_slot_id%><br></b>
      <%= f.collection_select(:time_slot_id, TimeSlot.all, :id, :time_string, {:prompt => 'Please select a time that is after the current time'}) %>
    </div>
    <div class="field">
      <b><%= f.label :appointment_reason %><br></b>
      <%= f.text_area :appointment_reason %>
    </div>
    <div class="field">
      <b><%= f.label :physician_id %><br></b>
      <%= f.collection_select(:physician_id, Physician.all.order(:physician_name).where({physician_status: true}), :id, :physician_name) %>
    </div>
    <div class="field">
      <b><%= f.label :diagnostic_id %><br></b>
      <%= f.collection_select(:diagnostic_id, Diagnostic.all, :id, :diagnostic_desc) %>
    </div>
    <div class="field">
      <b><%= f.label :patient_id %><br></b>
      <%= f.collection_select(:patient_id, Patient.all.order(:patient_name), :id, :patient_name) %>
    </div>
    <div class="field">
      <b><%= f.label :note %><br></b>
      <%= f.text_area :note %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>