<h1>Appointment Editor for <%= @appointment.patient.patient_name %></h1>

<%= render 'form' %>

<li><%= button_to 'Show', @appointment, :method => :get %></li> |
<li><%= button_to 'Back', appointments_path, :method => :get %></li>
