<h1>Listing Appointments</h1>
<body class ='ok'>
<table>
  <thead>
    <tr>
      <th>Appointment date</th>
      <th>Time slot</th>
      <th>Appointment reason</th>
      <th>Physician</th>
      <th>Diagnostic</th>
      <th>Patient</th>
      <th>Note</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.order(:appointment_date).each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.time_slot.time_string%></td>
        <td><%= appointment.appointment_reason %></td>
        <td><%= appointment.physician.physician_name %></td>
        <td><%= appointment.diagnostic.diagnostic_desc %></td>
        <td><%= appointment.patient.patient_name %></td>
        <td><%= appointment.note %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Appointment', new_appointment_path, :method => :get %>
</body>