<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @appointment.time_slot.time_string %>
</p>

<p>
  <strong>Appointment reason:</strong>
  <%= @appointment.appointment_reason %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.physician_name %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.patient_name %>
</p>

<li><%= button_to 'Edit', edit_appointment_path(@appointment), :method => :get %></li> |
<li><%= button_to 'Back', appointments_path, :method => :get %></li>

<p class="hide">
  <strong>Diagnostic:</strong>
  <%= @appointment.diagnostic.diagnostic_desc%>
</p>



<p class="hide">
  <strong>Note:</strong>
  <%= @appointment.note %>
</p>
<br>



