<!DOCTYPE html>
<html>
<head>
  <title>Project3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class ='ok'>
<div id="header">
  <h1>Dermatology Associates Portal</h1>
  <%= link_to "Home", home_page_home_path %>

</div>
<%= yield %>



</body>
</html>
